@charset "Utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;

}

:root {
    --font1: Verdana, 'Geneva', Tahoma, sans-serif;
    --font2:  'Passion One', 'cursive';
    --font3:  'Sriracha', 'cursive';  
}

body {

    background-color: white(169, 169, 169, 0.151);
    font-family:var(--font1) ;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height:3em;
}

section.normal {
    background-color: white;
    color: black;

}

    

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position:  center;

}
 section#img01 > p {
    background-color: rgb(2, 41, 2);
    color: white;
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    font-size: 2em;
    text-shadow: 2px 2px 0px black;
 }

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position:  center;
}

section#img02 > p {
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    font-size: 2em;
    text-shadow: 2px 2px 0px black;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}